*{
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.content {
    display: flex;
    align-items: center;
    background: url(images/sideImage.jpg)no-repeat;
    width: 100%;
    height: 180vh;
    background-position: center;
    background-size: cover;
    padding: 30px 40px;
    justify-content: center;
}

.box {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

legend {  
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

label {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}

.tbl {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.done {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.5s ease-in-out;
}

.done:hover {
    background-color: rgb(180, 180, 180);
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px;

}

table {
    text-align: center;
    border-spacing: 0;
    border: 1px solid rgb(0, 55, 252);
}

th {
    border: 1px solid rgb(0, 55, 252);
    background-color: rgb(185, 182, 255);
    width: 300px;
    padding: 20px 20px;
    justify-content: center;
    font-size: 1.1em;
}

td {
    border: 1px solid rgb(0, 55, 252);
    padding: 20px 20px;
    width: 300px;
    margin: 0;
    justify-content: center;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #fff;
}

.download-clacul-btn {
    padding: 6px 12px;
    background-color: rgb(0, 55, 252);
    color: #fff;
    border: none;
    border-radius: 8px;
    letter-spacing: 2px;
    box-shadow: 0 8px 0 rgb(13, 15, 151);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}

.download-clacul-btn:hover {
    box-shadow: 0 0 0 rgb(13, 15, 151);
    transform: translateY(8px);
}