* {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    background: url(images/sideImage.jpg)no-repeat; 
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: system-ui, sans-serif;
    height: inherit;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.32);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

#display {
    text-align: right;
    height: 90px;
    line-height: 70px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2);
    color: #232323;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 35px;
    overflow: auto;
    text-align: right;
    width: 325px;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.btns div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.btn {
    text-align: center;
    cursor: pointer;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 23px;
    height: 65px;
    margin: 8px;
}

.btn:hover {
    background: #232323;
    color: white;
    transition: 0.5s ease-in-outs;
}

#equal {
    background-color: #2a6694;
    color: white;
}

#equal:hover {
    background-color: #162938;
    color: white;
    transition: 0.5s ease-in-outs;
}

